.services {
  display: flex;
  padding: 0 3rem;
  height: 90vh;
  margin-top: 9rem;
  margin-bottom: 13rem;
  position: relative;
}
.S-left {
  display: flex;
  flex-direction: column;

  flex: 1;
}
.services-head {
  font-size: 3rem;
  font-weight: bold;
}
.services-span {
  font-size: 3rem;
  font-weight: bold;
  color: var(--orange);
}
.services-p {
  font-weight: 100;
  color: var(--gray);
  font-size: 14px;
  text-align: left;
}
.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 2rem;
}
.S-right {
  flex: 1;
  position: relative;
  display: flex;
  gap: 4rem;
}
.S-right > * {
  position: absolute;
}
.blur2 {
  position: absolute;
  top: 15rem;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #d7b0f0;
  filter: blur(212px);
  z-index: -9;
  filter: blur(72px);
}
@media screen and (max-width: 480px) {
  .services {
    margin-top: 20rem;
    padding: 1rem;
    flex-direction: column;
    height: 80% !important;
  }
  .S-right {
    flex-direction: column;
    gap: 20rem;
    margin-top: 5rem;
  }
  .S-right > * {
    position: static;
  }
}
