:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}
button {
  border: none;
  border-radius: 40px;
  background: var(--orange);
  color: white;
  padding: 11px 26px;
  font-size: 16px;
  background-image: linear-gradient(180degree, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0 0 24px 3px rgba(251, 161, 40, 0.42);
}
button:hover {
  background: var(--white);
  color: var(--orange);
  cursor: pointer;
}
